{:paths ["src" "resources"]
 :deps {io.github.nextjournal/clerk {:git/sha "37608d13ebf0488e24b1967d1464bd183e6e168b"}
        org.clojure/clojure {:mvn/version "1.11.1"}}

 :aliases {:nextjournal/clerk {:extra-paths ["datasets"]
                               :exec-fn nextjournal.clerk/build!
                               :exec-args {:git/url "https://github.com/nextjournal/blog"
                                           :ssr true
                                           :compile-css true
                                           :paths ["index.clj"
                                                   "*.md"]}
                               :main-opts ["-m" "babashka.cli.exec"]}
           :dev {:extra-paths ["dev"]}}}
